In [11]:
import pandas as pd

In [12]:
# load csv events_2024.csv
events_df = pd.read_csv('kalendertage_temp.csv')

In [15]:
# change name of datum to date
events_df.rename(columns={'datum': 'date'}, inplace=True)
# change name of Feiertag to holiday
events_df.rename(columns={'feiertag': 'holiday'}, inplace=True)
# change name of werktag to workday
events_df.rename(columns={'werktag': 'workday'}, inplace=True)
# change name of gruner_markt to green_market
events_df.rename(columns={'gruner_markt': 'green_market'}, inplace=True)
# change name of spezialitaten_markt to specialities_market
events_df.rename(columns={'spezialitaten_markt': 'specialities_market'}, inplace=True)

# ckeck the first 5 rows
events_df.head()

         date  holiday  workday  green_market  specialities_market  event
0  2024-01-01        1        1             0                    0      0
1  2024-01-02        0        1             1                    1      0
2  2024-01-03        0        1             1                    1      0
3  2024-01-04        0        1             0                    0      0
4  2024-01-05        0        1             1                    1      0

In [16]:
# check the data types of the columns
events_df.dtypes

date                   object
holiday                 int64
workday                 int64
green_market            int64
specialities_market     int64
event                   int64
dtype: object

In [17]:
# save the data as a new table in the database data.db
import sqlite3

conn = sqlite3.connect('data.db')

# save the data to the database
events_df.to_sql('events', conn, if_exists='replace', index=False) # index=False does not save the index column in the database

# check the data is in the database

pd.read_sql('SELECT * FROM events', conn)

# close the connection
conn.commit() # commit any changes
conn.close()

# drop table from database

In [2]:
# drop the table from the database
# import sqlite3
# conn = sqlite3.connect('data.db')
# cursor = conn.cursor()
# cursor.execute('DROP TABLE events')
# conn.commit()
# conn.close()

# load

In [18]:
import sqlite3
import pandas as pd

In [19]:
# load the data from the database
conn = sqlite3.connect('data.db')
events_df = pd.read_sql('SELECT * FROM events', conn)

In [20]:
events_df.head()

         date  holiday  workday  green_market  specialities_market  event
0  2024-01-01        1        1             0                    0      0
1  2024-01-02        0        1             1                    1      0
2  2024-01-03        0        1             1                    1      0
3  2024-01-04        0        1             0                    0      0
4  2024-01-05        0        1             1                    1      0

In [21]:
# dtypes
events_df.dtypes

date                   object
holiday                 int64
workday                 int64
green_market            int64
specialities_market     int64
event                   int64
dtype: object