In [4]:
# load database data.db into pandas dataframe
import pandas as pd
import os
import sqlite3
import sys

def load_db(db_file):
    if not os.path.exists(db_file):
        sys.exit("Error: database file not found")
    conn = sqlite3.connect(db_file)
    df = pd.read_sql_query("SELECT * FROM data", conn)
    conn.close()
    return df

In [8]:
df = load_db("data.db")
df

,location_name,pedestrians_count,temperature,timestamp,weather_condition,unverified,location_id
0,Schönbornstraße,4415,13.9,2024-05-18T13:00:00+02:00,cloudy,1.0,135.0
1,Spiegelstraße,1681,13.9,2024-05-18T13:00:00+02:00,cloudy,1.0,470.0
2,Kaiserstraße,2236,13.9,2024-05-18T13:00:00+02:00,cloudy,1.0,476.0
3,Schönbornstraße,5148,16.0,2024-05-18T15:00:00+02:00,rain,1.0,135.0
4,Spiegelstraße,1851,16.0,2024-05-18T15:00:00+02:00,rain,1.0,470.0
...,...,...,...,...,...,...,...
11111,Spiegelstraße,6,9.0,2024-06-04T03:00:00+02:00,clear-night,1.0,470.0
11112,Kaiserstraße,12,9.0,2024-06-04T03:00:00+02:00,clear-night,1.0,476.0
11113,Schönbornstraße,9,8.0,2024-06-04T04:00:00+02:00,clear-night,1.0,135.0
11114,Spiegelstraße,4,8.0,2024-06-04T04:00:00+02:00,clear-night,1.0,470.0
11115,Kaiserstraße,10,8.0,2024-06-04T04:00:00+02:00,clear-night,1.0,476.0

In [12]:
# count unique values in columns
df.nunique()

location_name           3
pedestrians_count    2706
temperature           250
timestamp            3707
weather_condition       9
unverified              2
location_id             3
dtype: int64

In [13]:
# get first timestamp
df["timestamp"].min()

'2024-01-01T00:00:00+01:00'

In [22]:
# 31. März 2024 war zeitumstellung: um 2 Uhr wird die Uhr auf 3 Uhr vorgestellt (Sommerzeit) => 2 Uhr wird übersprungen
# get all unique timestamps on 31. März 2024
df_temp = df[df["timestamp"].str.contains("2024-03-31")]
print(len(df_temp["timestamp"].unique()))

df_temp2 = df[df["timestamp"].str.contains("2024-03-30")]
print(len(df_temp2["timestamp"].unique()))

23
24